.topical {

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

    flex-flow: wrap;
}
h1.topical {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    /* font-size: xx-large; */
}
.btn-huge {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sign-log-btn {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

div.sign-log-btn a {
    margin: 10px;

}

:root {

    --dark1: #000000;
    --purple: #7749F8;
    --grey: #CED4DA;
    --white: #FCFCFC;
    background-color: #d3d3d3;
}

body {
    background-color: var(--grey);
}
div.content form button {

    display: flex;
    justify-content: center;

}
.bigButton {
    width: 200px;
    height: 200px;
    background-color: #7749F8;
}