{% extends '_layout.html' %}

{% block title %}Message Board App | Home{% endblock %}

{% block body %}
<div class='topical'>
    <h1 class="mb-5">Message Board App</h1> 
    <p class="mb-3">Our site is a forum site for questions about the computer science field. We offer answers to
        many questions that recent computer science graduates may have. You may use the forums to chat and ask questions
        to others over the internet.</p>
</div>

<div class="sign-log-btn">
    <a href='/login' role='button' class='btn btn-primary btn-lg' id='login'>Login</a>
    <a href='/register' role='button' class='btn btn-outline-primary btn-lg' id='signup'>Sign up</a>
</div>
{% endblock %}