{% extends '_layout.html' %}

{% block title %}Message Board App | Home{% endblock %}

{% block body %}
<html>
<link href="style.css" rel="stylesheet">
<h1 class="mb-5">Home</h1>
<div style="width: 500px; height: 200px; margin-left: 20px; margin-top: 20px; font-size: large;">
    Our site is a forum site for questions about the computer science field. We offer answers 
    to many questions that recent computer science graduates may have. You may use the forums to chat and 
    ask questions to others over the internet.</div>



    <div class="d-grid gap-4 d-md-block">
        <a href="/login" >
        <button class="btn btn-primary mx-5" type="button" style="height: 200px; width: 200px; background-color: #7749F8;">
            <h2 style="margin-bottom: 25px;">Log in</h2>
            <p1>This will take you to the login page to sign in to an already existing account.</p1></p1>
        </button>
        </a>
        <a href="/SignUp">
        <button class="btn btn-primary mx-5" type="button" style="height: 200px; width: 200px; background-color: #7749F8;">
            <h2 style="margin-bottom: 40px;">Sign Up</h2>
            <p1>This will take you to a page to sign up for a new account.</p1>
        </button>
        </a>
        <a href="/forum" >
        <button class="btn btn-primary mx-5" type="button"style="height: 200px; width: 200px; background-color: #7749F8;">
            <h2 style="margin-bottom: 25px;">Forum</h2>
            <p1>This will take you to the forums to see posts about questions for computer science.</p1>
        </button>
        </a>
    </div>

    <body>
        <img src="logo.png" width="200" height="200">
    </body>
</html>
{% endblock %}
