{% extends '_layout.html' %}

{% block title %}Message Board App | Home{% endblock %}

{% block body %}
<html>
<link href="style.css" rel="stylesheet">
<h1 class="mb-5">Home</h1>
<div style="width: 500px; height: 200px; margin-left: 20px; margin-top: 20px; font-size: large;">
    Our site is a forum site for questions about the computer science field. We offer answers 
    to many questions that recent computer science graduates may have. You may use the forums to chat and 
    ask questions to others over the internet.</div>



    <div class="d-grid gap-4 d-md-block">
        <button class="btn btn-primary mx-5" href="#" type="button" style="height: 200px; width: 200px;">Log In</button>
        <button class="btn btn-primary mx-5" href="#" type="button" style="height: 200px; width: 200px;">Sign Up</button>
        <button class="btn btn-primary mx-5" href="#" type="button" style="height: 200px; width: 200px;">Forum</button>
    </div>
</html>
{% endblock %}
