{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<html>
    <body>
        <a href="{{ url_for('forum', forum_id=forum.forum_id) }}"></a>
        <h1 class="topical">{{forum.title}}</h1>

        <a href="{{ url_for('create_post', forum_id=forum.forum_id) }}">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" style="background-color: #7749F8;">Create post (must be logged in)</button>
        </div>
        </a>
        
        {%for post in postss%}
        <div class="card postSpace">
            <div class="card-header">
              userID: {{post.user_id}}  {{post.post_id}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{post.post}}</p>
              </blockquote>
            </div>
          </div>
        {% endfor %}









    </body>
</html>
{% endblock %}