{% extends '_layout.html' %}

{% block title %}Message Board App | Posts{% endblock %}

{% block body %}
<html>
    <body>
        <a href="{{ url_for('forum', forum_id=forum.forum_id) }}"></a>
        <h1 class="topical">{{forum.title}}</h1>

        <a href="{{ url_for('create_post', forum_id=forum.forum_id) }}">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" style="background-color: #7749F8;">Create post (must be logged in)</button>
        </div>
        </a>
        
        {%for post in post%}
        <div class="card postSpace">
            <div class="card-header">
              <b>Post Author: {{users.get_user_by_id(post.user_id).username}} </b>
              <a style="margin-left: 75%;" href="{{ url_for('get_comment', forum_id=forum.forum_id, post_id=post.post_id) }}">view comments</a>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{post.post}}</p>
              </blockquote>
            </div>
          </div>


        {% endfor %}



    </body>
</html>
{% endblock %}