{% extends '_layout.html' %}

{% block title %}Movie Rating App | User Profile{% endblock %}

{% block body %}
<h1 class="mb-5"></h1>
<p class="mb-3"></p>

<div class='topical'>
  <h1 class="mb-5">User Profile</h1>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group w-100">
          <li class="list-group-item"><b>
              <h2>Full Name</h2>
            </b></li>
          <li class="list-group-item">{{user.first_name}} {{user.last_name}}</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group w-100">
          <li class="list-group-item"><b>
              <h2>Email</h2>
            </b></li>
          <li class="list-group-item">{{user.email}}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group w-100">
          <li class="list-group-item"><b>
              <h2>Username</h2>
            </b></li>
          <li class="list-group-item">{{user.username}}</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group w-100">
          <li class="list-group-item"><b>
              <h2>User Id</h2>
            </b></li>
          <li class="list-group-item">{{user.user_id}}</li>
        </ul>
      </div>
    </div>

  </div>
</div>



<div class="sign-log-btn">
  <form action="/" method="post">
    <button class='content btn btn-primary btn-lg' href="" name="sign-out" value="sign-out">Sign Out</button>
  </form>
</div>


{% endblock %}